.chat-popover-tail::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 32px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.05));
}

.buttonAnimate {
  border-radius: 13px;
  cursor: pointer;
  background-color: #1c3347;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  transition: all 0.3s ease;
  color: #fff;
}

.buttonAnimate:hover {
  letter-spacing: 1.5px;
  background-color: #1c3347; 
  color: #fff;
  box-shadow: rgba(28, 51, 71, 0.4) 0px 7px 20px 0px; 
  transform: translateY(-2px);
}

.buttonAnimate:active {
  letter-spacing: 2px;
  background-color: #1c3347;
  color: #fff;
  box-shadow: rgba(28, 51, 71, 0.2) 0px 3px 10px 0px;
  transform: translateY(2px);
  transition: 80ms;
}

.buttonAnimate2 {
  letter-spacing: 2px;
  border-radius: 13px;
  position: relative;
  z-index: 1; 
  color: #1c3347;
  text-decoration: none;
  transition: 0.3s ease all;
  background: transparent;
}

.buttonAnimate2:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #1c3347;
  border-radius: 13px;
  z-index: -1;
}

.buttonAnimate2:hover,
.buttonAnimate2:focus {
  color: white; 
}

.buttonAnimate2:hover:before,
.buttonAnimate2:focus:before {
  left: 0;
  right: 0;
  opacity: 1;
}
.buttonAnimate2:active {
  transform: scale(0.9);
}
.testimonial-pagination {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
}

.testimonial-pagination .swiper-pagination-bullet {
  width: 10px; 
  height: 10px;
  border-radius: 2px;
  background-color: white;
  opacity: 0.5; 
  transition: opacity 0.3s;
  margin: 0 !important;
}

.testimonial-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
.testimonial-prev-arrow,
.testimonial-next-arrow {
  outline: none;
}
.testimonial-prev-arrow:focus,
.testimonial-next-arrow:focus {
  outline: none;
  box-shadow: none;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: unset !important;
}

.testimonial-prev-arrow.swiper-button-disabled,
.testimonial-next-arrow.swiper-button-disabled {
  cursor: not-allowed;
}

.testimonial-prev-arrow.swiper-button-disabled svg,
.testimonial-next-arrow.swiper-button-disabled svg {
  color: #6b7280; 
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.shadow-bottom {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.up-scale {
  transition: transform 0.2s ease-in-out;
}

.up-scale:hover {
  transform: scale(1.15); 
}

.profile-card__socials img {
  transition: transform 0.2s ease-in-out;
}
.profile-card__socials img:hover {
  transform: scale(1.15);
}
